.boldCaps {
  font-weight: bolder;
  text-transform: uppercase;
}

#track1, #track2, #track3, #notEpicodusDiv, #ruby-schedule-issue, #csharp-schedule-issue, #java-schedule-issue{
  display: none;
}
.response {
  background-color: blue;
}
.panel {
  background-color: grey;

}
.general-info {
  font-family: monospace;
}

body {
  background-image: url("../img/pair-programing.png")
}
img#high5 {
  padding: 1%;
  float:left;

}
}
