.boldCaps {
  font-weight: bolder;
  text-transform: uppercase;
}

#track1, #track2, #track3, #notEpicodusDiv{
  display: none;
}
.panel {
  background-color: grey;

}
.general-info {
  font-family: monospace;
}

body {
  background-image: url("../img/pair-programing.png")
}
